
.picture-tm{
  font-family: "Proxima Nova", sans-serif;
  height: 600px;
  width: 100%;
  padding-top: 200px;
  color: white;
}
.banner{
  &__title{
    font-size: 50px;
    color: white;
  }
  &__content{
    font-size: 20px;
    font-weight: bold;
  }
  &__link{
    font-size: 20px;
    color: white;
    &:hover{
      color:#DF5650;
    }
  }
}
#teddymuller{
  background-image: url(https://res.cloudinary.com/dezfv3vmn/image/upload/v1675878692/Doriane%20Chatelain/WhatsApp_Image_2023-02-08_at_17.34.14_ak8pog.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-malt{
  font-family:'Courier New', Courier, monospace;
  font-weight:bold;
  background-color:  #1AABAC;
  color: white;
  padding: 15px 25px;
  border-radius: 4px;
  opacity: 1;
  &:hover{
    opacity: 0.5;
  }
  &:after{
    color: #DF5650;
  }
}
