<div class="footer container" id="contact">
  <div class="container footer">
    <div class="item-2022">
      <ul>
        <li>
          <a href="mailto:muller.teddy@icloud.com?subject=Contact via LadyBird By DC" target="_blank">® 2023 Created by TM</a>
        </li>
      </ul>
    </div>
    <div class="item-contact">
      <ul>
        <li><a href="tel:(+34)(656311374)" title="+34 656 31 13 74"><i class="fa-solid fa-phone"></i></a></li>
        <li><a href="mailto:ladybirdbydc@gmail.com?subject=Contact WEBSITE" target="_blank"><i class="fa-solid fa-envelope"></i></a></li>
        <%# <li><a href="https://github.com/M-Teddy/" target="_blank"><i class="fab fa-github"></i></a></li> %>
        <li><a href="https://www.instagram.com/ladybird_bydc/" id="insta" target="_blank"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://www.facebook.com/doriane.chatelain" class="facebook" target="_blank"><i class="fab fa-facebook"></i></a></li>
        <%# <li><a href="#" class="twitter"><i class="fab fa-twitter" target="_blank"></i></a></li> %>
        <li><a href="https://www.linkedin.com/in/dorianechatelain/" class="linkedin" target="_blank"><i class="fab fa-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
</div>
