<header class="position">
  <nav class="nav container">
  <div class="container nav">
    <div class="item-ted">
      <ul>
        <li><a href="#teddymuller" class="bouton"><strong>Doriane CHATELAIN</strong><br>Lady Bird</a></li>

      </ul>
    </div>
    <div class="item item--menu">
      <button class="btn-menu"><i class="fa-sharp fa-solid fa-bars"></i></button>
        <ul class="menu">
          <li><a href="#service" class="bouton"><strong>Services</strong></a></li>
          <li><a href="#realisation" class="bouton"><strong>Realisations</strong></a></li>
          <li><a href="mailto:ladybirdbydc@gmail.com?subject=Contact WEBSITE" class="bouton"><strong>Contact</strong></a></li>
      </ul>
    </div>
    </div>
  </nav>
</header>

<script>
document.querySelector('.btn-menu').addEventListener('click', (e) => {
  e.preventDefault();
  document.querySelector('.menu').classList.toggle('menu-open');
})
</script>
