<header class="position">
  <nav class="nav container">
  <div class="container nav">
    <div class="item-ted">
      <ul>
        <li><a href="#" class="bouton"><img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1676224171/Doriane%20Chatelain/lady_bird_logo_lohost.png" alt="" class="avatar-lady"></a></li>
      </ul>
    </div>
    <div class="item item--menu">
      <button class="btn-menu"><i class="fa-sharp fa-solid fa-bars"></i></button>
        <ul class="menu">
          <li><a href="#service" class="bouton"><strong>SERVICES</strong></a></li>
          <li><a href="#realisation" class="bouton"><strong>ACHIEVEMENTS</strong></a></li>
          <li><a href="#about" class="bouton"><strong>ABOUT ME</strong></a></li>
          <li><a href="mailto:ladybirdbydc@gmail.com?subject=Contact WEBSITE" class="bouton"><strong>CONTACT</strong></a></li>
      </ul>
    </div>
    </div>
  </nav>
</header>

<script>
document.querySelector('.btn-menu').addEventListener('click', (e) => {
  e.preventDefault();
  document.querySelector('.menu').classList.toggle('menu-open');
})
</script>
