<div class="container banner" id="teddymuller">
  <div class="picture-tm container">
    <h1 class="banner__title">DORIANE CHATELAIN</h1>
    <p class="banner__content">Community Manager & Graphic Designer </p>
    <a href="#about" class="banner__link">Curious to know more?</a>
  </div>
</div>
<div class="container service" id="service">
  <%# <h2 class="service__title">Services</h2> %>
  <%# <h3 class="service__check">Check it out</h3>
  <hr> %>
  <ul class="cards1">
    <li class="card1">
      <img src=" https://res.cloudinary.com/dezfv3vmn/image/upload/v1675959457/Doriane%20Chatelain/picto%20%28service%29/identite%CC%81_visuelle_ddqhgt.png" alt="" class="card1__img card1__img--full">
      <h4 class="card1__title">Visual Identity</h4>
      <p>Creation of brand identity, graphic charter according to your values, your sector, your target…</p>
    </li>
    <li class="card1">
      <img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1675959457/Doriane%20Chatelain/picto%20%28service%29/print_g8hw36.png" alt="" class="card1__img card1__img--full">
      <h4 class="card1__title">Print</h4>
      <p>Creation of paper supports, from the business card, to the flyer through the display and the window sticker.</p>
    </li>
    <li class="card1">
      <img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1675959457/Doriane%20Chatelain/picto%20%28service%29/reseaux_sociaux_cnobni.png" alt="" class="card1__img card1__img--full"></a>
      <h4 class="card1__title">Social networks</h4>
      <p>Creation and/or development of your social networks in order to help and accompany you, young companies and less young to develop yourself.</p>
    </li>
    <li class="card1">
      <img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1675959458/Doriane%20Chatelain/picto%20%28service%29/redaction_xbefuk.png" alt="" class="card1__img card1__img--full"></a>
      <h4 class="card1__title">Redaction</h4>
      <p>The art and the way to highlight your brand through words.</p>
    </li>
    <li class="card1">
      <img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1675959457/Doriane%20Chatelain/picto%20%28service%29/photos_oyspmy.png" alt="" class="card1__img card1__img--full"></a>
      <h4 class="card1__title">Photography</h4>
      <p>Use my passion for photography to highlight your product.</p>
    </li>
    <li class="card1">
      <img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1675959458/Doriane%20Chatelain/picto%20%28service%29/video_ciqdlw.png" alt="" class="card1__img card1__img--full"></a>
      <h4 class="card1__title">Videography</h4>
      <p>Highlighting your product or your place through a video for your networks will give a new dimension to your brand.</p>
    </li>
    <li class="card1">
      <img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1675959456/Doriane%20Chatelain/picto%20%28service%29/evenementiel_m3uhuu.png" alt="" class="card1__img card1__img--full"></a>
      <h4 class="card1__title">Event</h4>
      <p>From the small event to the big congress, I can be your shoulder to accompany you in the organization of your project.</p>
    </li>
    <li class="card1">
      <img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1675959457/Doriane%20Chatelain/picto%20%28service%29/traduction_r9fagi.png" alt="" class="card1__img card1__img--full"></a>
      <h4 class="card1__title">Translation</h4>
      <p>Fluent in French, Spanish and English, I can be an important tool if you want to translate your website and reach a larger target.</p>
    </li>
  </ul>
</div>
<div class="container separation">
  <p>"Several years of experience, clients who trust me and a constant evolution of my work."</p>
</div>
<div class="container realisation" id="realisation">
  <%# <h2 class="realisation__title">Réalisations</h2>
  <h3 class="realisation__check">Check it out</h3>
  <hr> %>
  <ul class="cards">
    <li class="card">
      <a href="#0" role="button" data-target="#modal" data-toggle="modal"><img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1675957573/Doriane%20Chatelain/logo%20client%20%28realisation%29/LAVERIE_SAINTE_MAXIME_nufais.png" alt="" class="card__img card__img--full"></a>
      <%# <h4 class="card__title"><a href="#" class="" target="_blank">LadyBird</a></h4> %>
    </li>
    <li class="card">
      <a href="#0" role="button" data-target="#modal2" data-toggle="modal"><img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1675957574/Doriane%20Chatelain/logo%20client%20%28realisation%29/SAYM_d4j9vh.png" alt="" class="card__img card__img--full"></a>
      <%# <h4 class="card__title"><a href="#" class="" target="_blank">LadyBird</a></h4> %>
    </li>
    <li class="card">
      <a href="#0" role="button" data-target="#modal3" data-toggle="modal"><img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1675957573/Doriane%20Chatelain/logo%20client%20%28realisation%29/AGENT_IMMO_gdea58.png" alt="" class="card__img card__img--full"></a>
      <%# <h4 class="card__title"><a href="#" class="" target="_blank">LadyBird</a></h4> %>
    </li>
    <li class="card">
      <a href="#0" role="button" data-target="#modal4" data-toggle="modal"><img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1675957573/Doriane%20Chatelain/logo%20client%20%28realisation%29/esteticista_j1um0y.png" alt="" class="card__img card__img--full"></a>
      <%# <h4 class="card__title"><a href="#" class="" target="_blank">LadyBird</a></h4> %>
    </li>
    <li class="card">
      <a href="#0" role="button" data-target="#modal5" data-toggle="modal"><img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1675957573/Doriane%20Chatelain/logo%20client%20%28realisation%29/LOGO_CAT_pjoujl.png" alt="" class="card__img card__img--full"></a>
      <%# <h4 class="card__title"><a href="#" class="" target="_blank">LadyBird</a></h4> %>
    </li>
    <li class="card">
      <a href="#0" role="button" data-target="#modal6" data-toggle="modal"><img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1675957573/Doriane%20Chatelain/logo%20client%20%28realisation%29/events2spain_ghvlu6.png" alt="" class="card__img card__img--full"></a>
      <%# <h4 class="card__title"><a href="#" class="" target="_blank">LadyBird</a></h4> %>
    </li>
    <li class="card">
      <a href="#0" role="button" data-target="#modal7" data-toggle="modal"><img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1675957574/Doriane%20Chatelain/logo%20client%20%28realisation%29/reves_jox9ys.png" alt="" class="card__img card__img--full"></a>
      <%# <h4 class="card__title"><a href="#" class="" target="_blank">LadyBird</a></h4> %>
    </li>
    <li class="card">
      <a href="#0" role="button" data-target="#modal8" data-toggle="modal"><img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1675957574/Doriane%20Chatelain/logo%20client%20%28realisation%29/mcs_gcy06a.png" alt="" class="card__img card__img--full"></a>
      <%# <h4 class="card__title"><a href="#" class="" target="_blank">LadyBird</a></h4> %>
    </li>
    <li class="card">
    <a href="#0" role="button" data-target="#modal9" data-toggle="modal"><img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1675957573/Doriane%20Chatelain/logo%20client%20%28realisation%29/4EVENT_ttvqdy.png" alt="" class="card__img card__img--full"></a>
      <%# <h4 class="card__title"><a href="#" class="" target="_blank">LadyBird</a></h4> %>
    </li>
    <li class="card">
      <a href="#0" role="button" data-target="#modal10" data-toggle="modal"><img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1676218954/Doriane%20Chatelain/personal_creation_mmcuzi.png" alt="" class="card__img card__img--full"></a>
      <%# <h4 class="card__title"><a href="#" class="" target="_blank">LadyBird</a></h4> %>
    </li>
    <li class="card">
      <a href="#0" role="button" data-target="#modal11" data-toggle="modal"><img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1676219099/Doriane%20Chatelain/VIDE_dazzxo.png" alt="" class="card__img card__img--full"></a>
      <%# <h4 class="card__title"><a href="#" class="" target="_blank">LadyBird</a></h4> %>
    </li>
    <li class="card">
      <a href="#0" role="button" data-target="#modal12" data-toggle="modal"><img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1676219099/Doriane%20Chatelain/VIDE_dazzxo.png" alt="" class="card__img card__img--full"></a>
      <%# <h4 class="card__title"><a href="#" class="" target="_blank">LadyBird</a></h4> %>
    </li>
  </ul>
  <div class="modal" id="modal" role="dialog">
    <div class="modal-content">
      <div class="cardpage">
        <p></p>
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1676198167/Doriane%20Chatelain/plaquettes/PLAQUETTE%20LAVERIE/1_muippj.png" alt="" class="">
            </div>
            <div class="swiper-slide" id="">
              <img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1676198166/Doriane%20Chatelain/plaquettes/PLAQUETTE%20LAVERIE/2_tipitp.png" alt="" class="">
            </div>
            <div class="swiper-slide" id="">
              <img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1676198167/Doriane%20Chatelain/plaquettes/PLAQUETTE%20LAVERIE/3_z3p5qb.png" alt="" class="">
            </div>
            <div class="swiper-slide">
              <img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1676198167/Doriane%20Chatelain/plaquettes/PLAQUETTE%20LAVERIE/4_qtncmg.png" alt="" class="">
            </div>
          </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#0" class="btn btn-close" role="button" data-dismiss="dialog"></a>
      </div>
    </div>
  </div>
  <div class="modal" id="modal2" role="dialog">
    <div class="modal-content">
      <div class="cardpage">
        <p></p>
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1676198228/Doriane%20Chatelain/plaquettes/PLAQUETTE%20SAYM/1_sxuprp.png" alt="" class="">
            </div>
            <div class="swiper-slide" id="">
              <img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1676198228/Doriane%20Chatelain/plaquettes/PLAQUETTE%20SAYM/2_ye6r5g.png" alt="" class="">
            </div>
            <div class="swiper-slide" id="">
              <img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1676198228/Doriane%20Chatelain/plaquettes/PLAQUETTE%20SAYM/3_o3yyi5.png" alt="" class="">
            </div>
          </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#0" class="btn btn-close" role="button" data-dismiss="dialog"></a>
      </div>
    </div>
  </div>
  <div class="modal" id="modal3" role="dialog">
    <div class="modal-content">
      <div class="cardpage">
        <p></p>
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1676198133/Doriane%20Chatelain/plaquettes/PLAQUETTE%20IAD/1_ieu0vu.png" alt="" class="">
            </div>
            <div class="swiper-slide" id="">
              <img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1676198133/Doriane%20Chatelain/plaquettes/PLAQUETTE%20IAD/2_axy3m2.png" alt="" class="">
            </div>
            <div class="swiper-slide" id="">
              <img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1676198133/Doriane%20Chatelain/plaquettes/PLAQUETTE%20IAD/1_ieu0vu.png" alt="" class="">
            </div>
          </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#0" class="btn btn-close" role="button" data-dismiss="dialog"></a>
      </div>
    </div>
  </div>
  <div class="modal" id="modal4" role="dialog">
    <div class="modal-content">
      <div class="cardpage">
        <p></p>
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1676198012/Doriane%20Chatelain/plaquettes/PLAQUETTE%20ESTHE%CC%81TIQUE/plaquette_esthetique_yun0fb.png" alt="" class="">
            </div>
          </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#0" class="btn btn-close" role="button" data-dismiss="dialog"></a>
      </div>
    </div>
  </div>
  <div class="modal" id="modal5" role="dialog">
    <div class="modal-content">
      <div class="cardpage">
        <p></p>
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1676198038/Doriane%20Chatelain/plaquettes/PLAQUETTE%20CAT/1_ekaixz.png" alt="" class="">
            </div>
            <div class="swiper-slide">
              <img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1676198038/Doriane%20Chatelain/plaquettes/PLAQUETTE%20CAT/2_zpfjlw.png" alt="" class="">
            </div>
          </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#0" class="btn btn-close" role="button" data-dismiss="dialog"></a>
      </div>
    </div>
  </div>
  <div class="modal" id="modal6" role="dialog">
    <div class="modal-content">
      <div class="cardpage">
        <p></p>
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1676198113/Doriane%20Chatelain/plaquettes/PLAQUETTE%20EVENTS2SPAIN/plaquette_events2spain_ovrgzv.png" alt="" class="">
            </div>
          </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#0" class="btn btn-close" role="button" data-dismiss="dialog"></a>
      </div>
    </div>
  </div>
  <div class="modal" id="modal7" role="dialog">
    <div class="modal-content">
      <div class="cardpage">
        <p></p>
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1676198197/Doriane%20Chatelain/plaquettes/PLAQUETTE%20REVES/plaquette_reves_q0vpfp.png" alt="" class="">
            </div>
          </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#0" class="btn btn-close" role="button" data-dismiss="dialog"></a>
      </div>
    </div>
  </div>
  <div class="modal" id="modal10" role="dialog">
    <div class="modal-content">
      <div class="cardpage">
        <p></p>
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1676219421/Doriane%20Chatelain/plaquettes/PLAQUETTE%20PERSO/1_qyw0ac.png" alt="" class="">
            </div>
            <div class="swiper-slide">
              <img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1676219421/Doriane%20Chatelain/plaquettes/PLAQUETTE%20PERSO/2_mkhrgz.png" alt="" class="">
            </div>
          </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#0" class="btn btn-close" role="button" data-dismiss="dialog"></a>
      </div>
    </div>
  </div>
</div>
<div class="container aboutme" >
  <div class="doriane" id="about">
    <p>My name is Doriane, I am 26 years old and I am Franco-Spanish.
      <br><br>
      Since my birth I have been immersed in this double culture which allows me today to have an ease in languages ​​and a great open-mindedness.
      <br><br>
      After obtaining a degree in Communication Manager and then having worked in events for 4 years, I decided to stand on my own feet by using my know-how to help companies develop.
      <br><br>
      Do you have a project ? Let me know.
    </p>
  </div>
  <div class="doriane-pict">
    <img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1676223013/Doriane%20Chatelain/photo_de_profil_i997kj.png" alt="" class="avatar-xxlarge">
  </div>
</div>
<%# <div class="container separation" id="work">
  <p>Do you have a project ? Let me know. </p>
  <%# <a href="https://www.malt.fr/profile/teddymuller" class="btn-malt" target="_blank">Malt!</a> %>
<%# </div> %>

<script>
  window.onload = () => {
    //on récupère tous les boutons d'ouverture de modale
    const modalButtons = document.querySelectorAll("[data-toggle=modal]");
    for(let button of modalButtons){
      button.addEventListener("click", function(e){
        //on empeche la navigation
        e.preventDefault();
        //on recupère le data target
        let target = this.dataset.target
        //on recupère la bonne modale
        let modal = document.querySelector(target);
        // on affiche la modale
        modal.classList.add("show");
        // on récupère les boutons de fermeture
        const modalClose = modal.querySelectorAll("[data-dismiss=dialog]");
        for(let close of modalClose){
          close.addEventListener("click", () => {
            modal.classList.remove("show");
          });
        }
        // ongère la fermeture sur la zone grise
        modal.addEventListener("click", function() {
          this.classList.remove("show");
        });
        // on evite la propagation du clic d'un enfant a son parent
        modal.children[0].addEventListener("click",
        function(e){
          e.stopPropagation();
        })
      });
    }
  }


  //swiper
const swiper = new Swiper('.swiper', {
  // Optional parameters
  // direction: 'vertical',
  loop: true,

  // pagination
  pagination: {
    el: '.swiper-pagination',
  },

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },
});

</script>
