<div class="container banner" id="teddymuller">
  <div class="picture-tm container">
    <h1 class="banner__title">Hello! I'm Doriane.</h1>
    <p class="banner__content">I love my Teddy's GOD<br> he's the Best</p>
    <a href="#contact" class="banner__link">Curious to know more?</a>
  </div>
</div>
<div class="container service" id="service">
  <%# <h2 class="service__title">Services</h2> %>
  <%# <h3 class="service__check">Check it out</h3>
  <hr> %>
  <ul class="cards1">
    <li class="card1">
      <a href="#0" class="" target=""><img src=" https://res.cloudinary.com/dezfv3vmn/image/upload/v1675959457/Doriane%20Chatelain/picto%20%28service%29/identite%CC%81_visuelle_ddqhgt.png"></a>
      <h4 class="card1__title"><a href="#0" class="" target="">Identités visuelles</a></h4>
      <p>Création d’identités de marque fortes, reconnaissables et singulières. Déclinaisons multi-supports web et print</p>
    </li>
    <li class="card1">
      <a href="#" class="" target=""><img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1675959457/Doriane%20Chatelain/picto%20%28service%29/print_g8hw36.png" alt="" class="card1__img card1__img--full"></a>
      <h4 class="card1__title"><a href="#" class="" target="">LadyBird</a></h4>
      <p>Création d’identités de marque fortes, reconnaissables et singulières. Déclinaisons multi-supports web et print</p>
    </li>
    <li class="card1">
      <a href="#" class="" target=""><img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1675959457/Doriane%20Chatelain/picto%20%28service%29/reseaux_sociaux_cnobni.png" alt="" class="card1__img card1__img--full"></a>
      <h4 class="card1__title"><a href="#" class="" target="">LadyBird</a></h4>
      <p>Création d’identités de marque fortes, reconnaissables et singulières. Déclinaisons multi-supports web et print</p>
    </li>
    <li class="card1">
      <a href="#" class="" target=""><img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1675959458/Doriane%20Chatelain/picto%20%28service%29/redaction_xbefuk.png" alt="" class="card1__img card1__img--full"></a>
      <h4 class="card1__title"><a href="#" class="" target="">LadyBird</a></h4>
      <p>Création d’identités de marque fortes, reconnaissables et singulières. Déclinaisons multi-supports web et print</p>
    </li>
    <li class="card1">
      <a href="#" class="" target=""><img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1675959457/Doriane%20Chatelain/picto%20%28service%29/photos_oyspmy.png" alt="" class="card1__img card1__img--full"></a>
      <h4 class="card1__title"><a href="#" class="" target="">LadyBird</a></h4>
      <p>Création d’identités de marque fortes, reconnaissables et singulières. Déclinaisons multi-supports web et print</p>
    </li>
    <li class="card1">
      <a href="#" class="" target=""><img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1675959458/Doriane%20Chatelain/picto%20%28service%29/video_ciqdlw.png" alt="" class="card1__img card1__img--full"></a>
      <h4 class="card1__title"><a href="#" class="" target="">LadyBird</a></h4>
      <p>Création d’identités de marque fortes, reconnaissables et singulières. Déclinaisons multi-supports web et print</p>
    </li>
    <li class="card1">
      <a href="#" class="" target=""><img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1675959456/Doriane%20Chatelain/picto%20%28service%29/evenementiel_m3uhuu.png" alt="" class="card1__img card1__img--full"></a>
      <h4 class="card1__title"><a href="#" class="" target="">LadyBird</a></h4>
      <p>Création d’identités de marque fortes, reconnaissables et singulières. Déclinaisons multi-supports web et print</p>
    </li>
    <li class="card1">
      <a href="#" class="" target=""><img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1675959457/Doriane%20Chatelain/picto%20%28service%29/traduction_r9fagi.png" alt="" class="card1__img card1__img--full"></a>
      <h4 class="card1__title"><a href="#" class="" target="">LadyBird</a></h4>
      <p>Création d’identités de marque fortes, reconnaissables et singulières. Déclinaisons multi-supports web et print</p>
    </li>
  </ul>
</div>
<div class="container separation">
  <p>"Une belle expérience de plus de 200 projets : logos & identités visuelles, sites Internet, applications mobiles et autres travaux graphiques"</p>
</div>
<div class="container realisation" id="realisation">
  <%# <h2 class="realisation__title">Réalisations</h2>
  <h3 class="realisation__check">Check it out</h3>
  <hr> %>
  <ul class="cards">
    <li class="card">
      <a href="#0" role="button" data-target="#modal" data-toggle="modal"><img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1675957573/Doriane%20Chatelain/logo%20client%20%28realisation%29/LAVERIE_SAINTE_MAXIME_nufais.png" alt="" class="card__img card__img--full"></a>
      <%# <h4 class="card__title"><a href="#" class="" target="_blank">LadyBird</a></h4> %>
    </li>
    <li class="card">
      <a href="#0" role="button" data-target="#modal2" data-toggle="modal"><img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1675957574/Doriane%20Chatelain/logo%20client%20%28realisation%29/SAYM_d4j9vh.png" alt="" class="card__img card__img--full"></a>
      <%# <h4 class="card__title"><a href="#" class="" target="_blank">LadyBird</a></h4> %>
    </li>
    <li class="card">
      <a href="#0" class="" target="_blank"><img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1675957573/Doriane%20Chatelain/logo%20client%20%28realisation%29/AGENT_IMMO_gdea58.png" alt="" class="card__img card__img--full"></a>
      <%# <h4 class="card__title"><a href="#" class="" target="_blank">LadyBird</a></h4> %>
    </li>
    <li class="card">
      <a href="#0" class="" target="_blank"><img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1675957573/Doriane%20Chatelain/logo%20client%20%28realisation%29/esteticista_j1um0y.png" alt="" class="card__img card__img--full"></a>
      <%# <h4 class="card__title"><a href="#" class="" target="_blank">LadyBird</a></h4> %>
    </li>
    <li class="card">
      <a href="#0" class="" target="_blank"><img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1675957573/Doriane%20Chatelain/logo%20client%20%28realisation%29/LOGO_CAT_pjoujl.png" alt="" class="card__img card__img--full"></a>
      <%# <h4 class="card__title"><a href="#" class="" target="_blank">LadyBird</a></h4> %>
    </li>
    <li class="card">
      <a href="#0" class="" target="_blank"><img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1675957573/Doriane%20Chatelain/logo%20client%20%28realisation%29/events2spain_ghvlu6.png" alt="" class="card__img card__img--full"></a>
      <%# <h4 class="card__title"><a href="#" class="" target="_blank">LadyBird</a></h4> %>
    </li>
    <li class="card">
      <a href="#0" class="" target="_blank"><img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1675957574/Doriane%20Chatelain/logo%20client%20%28realisation%29/reves_jox9ys.png" alt="" class="card__img card__img--full"></a>
      <%# <h4 class="card__title"><a href="#" class="" target="_blank">LadyBird</a></h4> %>
    </li>
    <li class="card">
      <a href="#0" class="" target="_blank"><img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1675957574/Doriane%20Chatelain/logo%20client%20%28realisation%29/mcs_gcy06a.png" alt="" class="card__img card__img--full"></a>
      <%# <h4 class="card__title"><a href="#" class="" target="_blank">LadyBird</a></h4> %>
    </li>
    <li class="card">
      <a href="#0" class="" target="_blank"><img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1675957573/Doriane%20Chatelain/logo%20client%20%28realisation%29/4EVENT_ttvqdy.png" alt="" class="card__img card__img--full"></a>
      <%# <h4 class="card__title"><a href="#" class="" target="_blank">LadyBird</a></h4> %>
    </li>
  </ul>
  <div class="modal" id="modal" role="dialog">
    <div class="modal-content">
      <div class="modal-close" data-dismiss="dialog">
        X
      </div>
      <div class="modal-header">
        <p>Titre de la modale  1</p>
      </div>
      <div class="modal-body">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem placeat quos perspiciatis cumque voluptatem aperiam ipsam sequi culpa sit aut deserunt, tenetur ipsum vitae voluptates facere. Omnis sed, nam, dolorum pariatur suscipit ducimus dolores eos ullam praesentium velit laborum iure excepturi nesciunt rerum? Rem numquam sunt nemo, aperiam nobis sed nihil sint laborum hic repellendus id maxime obcaecati nam possimus voluptas voluptatem sapiente accusantium sequi assumenda dolore at harum minima libero! Commodi minima incidunt totam error deleniti et corporis labore mollitia natus. Totam libero obcaecati reprehenderit? Velit in ex nihil eligendi impedit facere vero molestias ipsa eum eius iste obcaecati autem distinctio vel molestiae non, animi, cupiditate delectus architecto expedita, harum quam ut officiis culpa. Cumque, architecto! Inventore rem amet necessitatibus unde enim ullam. Ducimus qui temporibus quas libero veniam ipsam a. Laboriosam esse quaerat dolor, voluptatum eligendi recusandae aliquid labore porro laborum aliquam ut qui similique perspiciatis. Aperiam ea vitae itaque ipsa. Magnam eligendi quaerat labore. Vel distinctio voluptatibus cum earum. Quos quibusdam similique delectus tenetur ullam eaque aut architecto minus hic voluptates quisquam, repudiandae ex accusamus beatae earum. Molestias fugiat, eveniet ducimus enim nam reiciendis nostrum aperiam officiis laboriosam sunt est sit dignissimos aliquam aut, perspiciatis mollitia fugit dolorum dolores vitae, sint voluptatum quasi? Animi tenetur tempore cum nostrum rem ducimus distinctio sit eligendi numquam nemo illo aperiam quo est, aliquid eius veritatis dolorem voluptates neque soluta sint nisi explicabo porro. Ratione fugit eaque ea officia necessitatibus nulla quod perferendis at. Nam recusandae iusto ducimus aliquam corporis aperiam veritatis voluptatem aliquid dignissimos, id officia quis sed minus laborum ipsum eligendi itaque quia rem fuga, hic molestiae, maiores possimus deleniti! Sint saepe dolorum rem deleniti consequatur cum ducimus soluta dolor, nisi quasi necessitatibus facere laudantium maiores, ad, illum recusandae nemo atque! Impedit, odio. Placeat beatae impedit sed suscipit, perspiciatis neque culpa exercitationem cupiditate accusamus officiis temporibus iste autem molestiae. Rerum libero quis amet quas deserunt facere incidunt, quae nam architecto voluptatum ut, dolorum ipsa doloremque nobis eum repudiandae soluta labore. Itaque eos vel ipsa, iusto impedit totam earum sunt dolorum nobis, quas quae voluptas soluta fuga nemo. Ipsa excepturi dolorum fugiat a nisi harum possimus velit beatae obcaecati amet id, doloribus quaerat rerum vero in quo nesciunt nostrum et ullam quisquam iste sed doloremque? Molestiae explicabo tempore numquam sunt. Cupiditate dolore quasi eius excepturi mollitia qui laboriosam aspernatur doloremque quidem minus similique, odit quae sunt ducimus. Nobis asperiores modi dolorum, voluptas hic officia suscipit quo at! Nostrum laborum quas praesentium enim possimus laboriosam! Quis vel odit excepturi maiores suscipit explicabo dolor architecto debitis unde, laboriosam nobis eum. Sit, architecto possimus ratione corrupti deleniti sed iusto saepe unde deserunt pariatur odio similique! Commodi quia consequatur, illo expedita provident perferendis a id iure dicta obcaecati. Similique a excepturi sit quos in culpa, dolorem, minus omnis adipisci incidunt quisquam cupiditate ea, aperiam voluptatibus veritatis labore dicta assumenda iure? Pariatur dolores expedita provident a rem rerum modi ut vero perspiciatis, doloribus labore distinctio aut voluptate reprehenderit, facere magnam voluptatum porro debitis et. Nam adipisci officiis fugiat quam sint repudiandae, atque beatae dolorum ipsum sunt facilis autem dolores voluptas quia quisquam! Aperiam aliquam magnam eveniet. Eius voluptate et, id dolor dolore deserunt totam quam tenetur expedita praesentium adipisci nihil eaque molestiae maiores molestias nobis modi quos, libero sapiente quisquam dolorem dignissimos reprehenderit. Ducimus reprehenderit rerum quas, nesciunt recusandae odit optio dignissimos inventore in assumenda. Exercitationem animi dolor expedita dignissimos illum similique repellat sunt perspiciatis eaque iure. Laboriosam qui deserunt consequatur, commodi inventore ea porro labore quod ipsum excepturi iusto impedit, numquam recusandae delectus explicabo sit aliquid maxime eveniet perferendis suscipit cumque ipsam atque voluptates. Sit eligendi officia, placeat atque natus assumenda consequuntur quaerat totam dolore ipsa necessitatibus consequatur ratione, unde qui laborum, cum rem autem maxime possimus labore sed id sint tempore dicta. Aperiam eaque numquam consequuntur reiciendis perferendis asperiores provident repudiandae dolore, eveniet hic cumque ratione recusandae obcaecati deserunt dignissimos quis ullam ex necessitatibus quos a? Ea assumenda quaerat expedita, eius autem dicta aliquid dolore doloribus mollitia nisi dolor praesentium consequuntur libero beatae sunt voluptates deserunt possimus minus qui! Repellat in nobis rem quaerat, at rerum deserunt aperiam libero, aspernatur facere hic? Harum quidem eligendi maxime explicabo libero perferendis. Totam a obcaecati iusto dolorum asperiores hic magnam, repellendus quidem quam similique unde nobis facilis fuga, reprehenderit excepturi quae. Tenetur aliquam aut voluptate voluptatem nam cum error, veniam sunt architecto, aliquid porro ipsam ipsa quibusdam esse amet vel saepe debitis totam ullam eius neque? Autem repellendus in cum quaerat repellat illo debitis nihil ipsam at. Optio laboriosam eius corrupti quae, debitis omnis facere facilis minima commodi placeat natus amet praesentium nemo consectetur, laborum incidunt! Voluptatibus dolorem facere, necessitatibus cumque distinctio nulla quo facilis iste beatae iusto praesentium, cum delectus explicabo earum vitae aspernatur dolor, ratione eos numquam recusandae iure deserunt exercitationem eaque! Nam fugit repudiandae dolorem numquam aliquid ullam sunt! Dicta consequuntur temporibus, at sint pariatur, voluptates odio consequatur aliquam veniam quisquam, harum cum nisi saepe deserunt nam assumenda sed inventore tempora illo facilis voluptatum modi. Nemo et dicta aspernatur odio. Blanditiis eos id quaerat odit dicta perferendis quo est nostrum tenetur, ullam sint itaque odio eius cumque doloribus modi laudantium, mollitia quisquam quam autem tempora porro maxime delectus! Ipsa, fugit autem hic provident dolore nihil aliquid quasi corporis, natus iusto inventore, ad nulla vero ab magnam unde est distinctio! Accusamus corporis perspiciatis doloremque atque tempore officiis explicabo id magni, cum eum reprehenderit architecto ipsam fugiat sapiente cumque veniam. Ea tenetur enim magnam minus, cumque error aspernatur, mollitia eveniet consequuntur laboriosam numquam aliquid neque quasi in officiis libero. Aperiam repellat voluptatem doloremque odit, totam ratione ullam blanditiis minima pariatur repudiandae deserunt ducimus ex voluptates ipsam dolor quae praesentium, quos, qui animi optio? Accusamus incidunt vel perferendis aliquid, sit nobis? Laboriosam quod nihil iure, dolorum iste hic labore! Sed, dolorum repellat quae deserunt porro harum, distinctio, maxime recusandae voluptatibus non obcaecati similique laudantium. Impedit quis pariatur accusantium, id fugiat vitae natus voluptatem ullam recusandae ab maxime incidunt. Explicabo harum assumenda soluta cum recusandae? Dolorem, fugiat.
      </div>
      <div class="modal-footer">
        <a href="#0" class="btn btn-close" role="button" data-dismiss="dialog"></a>
        <%# <a href="#0" class="btn" role="button">valider</a>  %>
      </div>
    </div>
  </div>
  <div class="modal" id="modal2" role="dialog">
    <div class="modal-content">
      <div class="modal-close" data-dismiss="dialog">
        X
      </div>
      <div class="modal-header">
        <p>Titre de la modale 2</p>
      </div>
      <div class="modal-body">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem placeat quos perspiciatis cumque voluptatem aperiam ipsam sequi culpa sit aut deserunt, tenetur ipsum vitae voluptates facere. Omnis sed, nam, dolorum pariatur suscipit ducimus dolores eos ullam praesentium velit laborum iure excepturi nesciunt rerum? Rem numquam sunt nemo, aperiam nobis sed nihil sint laborum hic repellendus id maxime obcaecati nam possimus voluptas voluptatem sapiente accusantium sequi assumenda dolore at harum minima libero! Commodi minima incidunt totam error deleniti et corporis labore mollitia natus. Totam libero obcaecati reprehenderit? Velit in ex nihil eligendi impedit facere vero molestias ipsa eum eius iste obcaecati autem distinctio vel molestiae non, animi, cupiditate delectus architecto expedita, harum quam ut officiis culpa. Cumque, architecto! Inventore rem amet necessitatibus unde enim ullam. Ducimus qui temporibus quas libero veniam ipsam a. Laboriosam esse quaerat dolor, voluptatum eligendi recusandae aliquid labore porro laborum aliquam ut qui similique perspiciatis. Aperiam ea vitae itaque ipsa. Magnam eligendi quaerat labore. Vel distinctio voluptatibus cum earum. Quos quibusdam similique delectus tenetur ullam eaque aut architecto minus hic voluptates quisquam, repudiandae ex accusamus beatae earum. Molestias fugiat, eveniet ducimus enim nam reiciendis nostrum aperiam officiis laboriosam sunt est sit dignissimos aliquam aut, perspiciatis mollitia fugit dolorum dolores vitae, sint voluptatum quasi? Animi tenetur tempore cum nostrum rem ducimus distinctio sit eligendi numquam nemo illo aperiam quo est, aliquid eius veritatis dolorem voluptates neque soluta sint nisi explicabo porro. Ratione fugit eaque ea officia necessitatibus nulla quod perferendis at. Nam recusandae iusto ducimus aliquam corporis aperiam veritatis voluptatem aliquid dignissimos, id officia quis sed minus laborum ipsum eligendi itaque quia rem fuga, hic molestiae, maiores possimus deleniti! Sint saepe dolorum rem deleniti consequatur cum ducimus soluta dolor, nisi quasi necessitatibus facere laudantium maiores, ad, illum recusandae nemo atque! Impedit, odio. Placeat beatae impedit sed suscipit, perspiciatis neque culpa exercitationem cupiditate accusamus officiis temporibus iste autem molestiae. Rerum libero quis amet quas deserunt facere incidunt, quae nam architecto voluptatum ut, dolorum ipsa doloremque nobis eum repudiandae soluta labore. Itaque eos vel ipsa, iusto impedit totam earum sunt dolorum nobis, quas quae voluptas soluta fuga nemo. Ipsa excepturi dolorum fugiat a nisi harum possimus velit beatae obcaecati amet id, doloribus quaerat rerum vero in quo nesciunt nostrum et ullam quisquam iste sed doloremque? Molestiae explicabo tempore numquam sunt. Cupiditate dolore quasi eius excepturi mollitia qui laboriosam aspernatur doloremque quidem minus similique, odit quae sunt ducimus. Nobis asperiores modi dolorum, voluptas hic officia suscipit quo at! Nostrum laborum quas praesentium enim possimus laboriosam! Quis vel odit excepturi maiores suscipit explicabo dolor architecto debitis unde, laboriosam nobis eum. Sit, architecto possimus ratione corrupti deleniti sed iusto saepe unde deserunt pariatur odio similique! Commodi quia consequatur, illo expedita provident perferendis a id iure dicta obcaecati. Similique a excepturi sit quos in culpa, dolorem, minus omnis adipisci incidunt quisquam cupiditate ea, aperiam voluptatibus veritatis labore dicta assumenda iure? Pariatur dolores expedita provident a rem rerum modi ut vero perspiciatis, doloribus labore distinctio aut voluptate reprehenderit, facere magnam voluptatum porro debitis et. Nam adipisci officiis fugiat quam sint repudiandae, atque beatae dolorum ipsum sunt facilis autem dolores voluptas quia quisquam! Aperiam aliquam magnam eveniet. Eius voluptate et, id dolor dolore deserunt totam quam tenetur expedita praesentium adipisci nihil eaque molestiae maiores molestias nobis modi quos, libero sapiente quisquam dolorem dignissimos reprehenderit. Ducimus reprehenderit rerum quas, nesciunt recusandae odit optio dignissimos inventore in assumenda. Exercitationem animi dolor expedita dignissimos illum similique repellat sunt perspiciatis eaque iure. Laboriosam qui deserunt consequatur, commodi inventore ea porro labore quod ipsum excepturi iusto impedit, numquam recusandae delectus explicabo sit aliquid maxime eveniet perferendis suscipit cumque ipsam atque voluptates. Sit eligendi officia, placeat atque natus assumenda consequuntur quaerat totam dolore ipsa necessitatibus consequatur ratione, unde qui laborum, cum rem autem maxime possimus labore sed id sint tempore dicta. Aperiam eaque numquam consequuntur reiciendis perferendis asperiores provident repudiandae dolore, eveniet hic cumque ratione recusandae obcaecati deserunt dignissimos quis ullam ex necessitatibus quos a? Ea assumenda quaerat expedita, eius autem dicta aliquid dolore doloribus mollitia nisi dolor praesentium consequuntur libero beatae sunt voluptates deserunt possimus minus qui! Repellat in nobis rem quaerat, at rerum deserunt aperiam libero, aspernatur facere hic? Harum quidem eligendi maxime explicabo libero perferendis. Totam a obcaecati iusto dolorum asperiores hic magnam, repellendus quidem quam similique unde nobis facilis fuga, reprehenderit excepturi quae. Tenetur aliquam aut voluptate voluptatem nam cum error, veniam sunt architecto, aliquid porro ipsam ipsa quibusdam esse amet vel saepe debitis totam ullam eius neque? Autem repellendus in cum quaerat repellat illo debitis nihil ipsam at. Optio laboriosam eius corrupti quae, debitis omnis facere facilis minima commodi placeat natus amet praesentium nemo consectetur, laborum incidunt! Voluptatibus dolorem facere, necessitatibus cumque distinctio nulla quo facilis iste beatae iusto praesentium, cum delectus explicabo earum vitae aspernatur dolor, ratione eos numquam recusandae iure deserunt exercitationem eaque! Nam fugit repudiandae dolorem numquam aliquid ullam sunt! Dicta consequuntur temporibus, at sint pariatur, voluptates odio consequatur aliquam veniam quisquam, harum cum nisi saepe deserunt nam assumenda sed inventore tempora illo facilis voluptatum modi. Nemo et dicta aspernatur odio. Blanditiis eos id quaerat odit dicta perferendis quo est nostrum tenetur, ullam sint itaque odio eius cumque doloribus modi laudantium, mollitia quisquam quam autem tempora porro maxime delectus! Ipsa, fugit autem hic provident dolore nihil aliquid quasi corporis, natus iusto inventore, ad nulla vero ab magnam unde est distinctio! Accusamus corporis perspiciatis doloremque atque tempore officiis explicabo id magni, cum eum reprehenderit architecto ipsam fugiat sapiente cumque veniam. Ea tenetur enim magnam minus, cumque error aspernatur, mollitia eveniet consequuntur laboriosam numquam aliquid neque quasi in officiis libero. Aperiam repellat voluptatem doloremque odit, totam ratione ullam blanditiis minima pariatur repudiandae deserunt ducimus ex voluptates ipsam dolor quae praesentium, quos, qui animi optio? Accusamus incidunt vel perferendis aliquid, sit nobis? Laboriosam quod nihil iure, dolorum iste hic labore! Sed, dolorum repellat quae deserunt porro harum, distinctio, maxime recusandae voluptatibus non obcaecati similique laudantium. Impedit quis pariatur accusantium, id fugiat vitae natus voluptatem ullam recusandae ab maxime incidunt. Explicabo harum assumenda soluta cum recusandae? Dolorem, fugiat.
      </div>
      <div class="modal-footer">
        <a href="#0" class="btn btn-close" role="button" data-dismiss="dialog"></a>
        <%# <a href="#0" class="btn" role="button">valider</a> %>
      </div>
    </div>
  </div>
</div>
<div class="container separation" id="work">
  <p><strong>You have a project?</strong></p>
  <%# <a href="https://www.malt.fr/profile/teddymuller" class="btn-malt" target="_blank">Malt!</a> %>
</div>

<script>
  window.onload = () => {
    //on récupère tous les boutons d'ouverture de modale
    const modalButtons = document.querySelectorAll("[data-toggle=modal]");
    for(let button of modalButtons){
      button.addEventListener("click", function(e){
        //on empeche la navigation
        e.preventDefault();
        //on recupère le data target
        let target = this.dataset.target
        //on recupère la bonne modale
        let modal = document.querySelector(target);
        // on affiche la modale
        modal.classList.add("show");
        // on récupère les boutons de fermeture
        const modalClose = modal.querySelectorAll("[data-dismiss=dialog]");
        for(let close of modalClose){
          close.addEventListener("click", () => {
            modal.classList.remove("show");
          });
        }
        // ongère la fermeture sur la zone grise
        modal.addEventListener("click", function() {
          this.classList.remove("show");
        });
        // on evite la propagation du clic d'un enfant a son parent
        modal.children[0].addEventListener("click",
        function(e){
          e.stopPropagation();
        })
      });
    }
  }
</script>
