.aboutme{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-image: url(https://res.cloudinary.com/dezfv3vmn/image/upload/v1676219938/Doriane%20Chatelain/BANNIERE_wybgng.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #F7F3F4;
  // height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
  opacity: 1;
  height: 400px;

  p{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    color: #fbA8A8;
    font-weight : 400;
  }
  }
